.contact {
  padding: 60px 0;
}
.contact-form{
  padding:10px 10px 20px 10px;
}
.contact-info {
  margin-bottom: 40px;
}
.contact-map{
  width:100%;
  margin-top:40px;
}
/*-- //contact-page-ends-here --*/
