$brand-primary: #3097D1;
.quantity-form {
  width: 60px;
}
.form-group {
  margin-bottom: 0;
}
.single-form {
  margin-bottom: 40px;
}
.order-form {
  background-color: #fefefe;
}
.order-control {
  border-radius: 0;
  height: 30px;
  margin-bottom: 20px;
}
h3.bottom-30, h4.bottom-30 {
  margin-bottom: 30px;
}
h3 span, h4 span {
  position: relative;
  color: $brand-primary;
}
h3 span:after, h4 span:after {
  position: absolute;
  content: '';
  width: 15%;
  height: 1px;
  border-bottom: 2px solid $brand-primary;
  bottom: -10px;
  left: 50%;
  margin-left: -7.5%;
  margin-top: 20px;
}
.sort-products {
  background: rgba(0,0,0,0);
  padding: 4px;
  color: #444444;
  min-width: 140px;
}